* text=auto
*.sh eol=lf
*.ps1 eol=crlf
*.rs eol=lf
*.js eol=lf
*.jsx eol=lf
*.ts eol=lf
*.tsx eol=lf
*.json eol=lf
Cargo.lock text eol=lf
ui/dist/* export-ignore
release/* export-ignore
node_modules/ export-ignore
*.zip export-ignore
